<div #about class="about-container">
    <div class="about-text">
        <h2>About Me</h2>
        <p>Hello! I'm Selelo Mogapi, a passionate and creative software developer based in Bloemfontein, South Africa. With
            over six years of experience in front-end development, I specialize in crafting immersive web experiences using
            technologies like Angular, TypeScript, and JavaScript.</p>
    
        <p>My journey in software development began at Central University of Technology, where I earned my National Diploma
            in Information Technology. Since then, I've had the opportunity to work with diverse teams and tackle exciting
            projects that have sharpened my skills and fueled my passion for innovation.</p>
    
        <p>Outside of coding, I'm a proud father to a son and a daughter, which brings me immense joy and fulfillment.
            Family is important to me, and I believe in maintaining a healthy work-life balance to ensure that I can give my
            best in both personal and professional endeavors.</p>
    
        <p>I thrive on challenges and love turning ideas into reality through code. Whether it's building responsive and
            intuitive user interfaces or optimizing performance to deliver seamless experiences, I'm dedicated to creating
            solutions that make a difference.</p>
    
        <p>In my free time, I enjoy exploring new technologies, reading books, and working on personal projects. I'm also a
            firm believer in continuous learning and strive to stay updated with the latest trends and best practices in the
            ever-evolving world of web development.</p>
    
        <p>I'm excited to collaborate on projects that push boundaries and bring visions to life. If you're looking for a
            dedicated and enthusiastic developer who values family and innovation, I'd love to connect!</p>
    </div>
    <div class="about-image">
        <img src="https://res.cloudinary.com/ddss6c7zr/image/upload/v1716991419/my-portfolio-assets/portrait_mfjg8e.jpg" alt="Selelo Mogapi">
    </div>
  </div>