.links-scroller-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: #000; /* Black background */
  }
  
  .links-scroller {
    display: flex;
    gap: 20px; /* Space between links */
  }
  
  .link-item {
    display: inline-block;
  }
  
  .view-project-button {
    width: 20rem;
    padding: 10px 20px;
    background: linear-gradient(45deg, rgba(128, 0, 128, 0.35), rgba(255, 0, 0, 0.35));
    color: #333333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .view-project-button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, rgba(128, 0, 128, 0.75), rgba(255, 0, 0, 0.75));

  }
  